.PostCard {
  max-height: 400px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  animation-name: post-card-animation;
  animation-duration: 1s;
}
.PostCard-container {
  max-width: 540px;
  display: inline;
}

.PostCard-img {
  max-height: 220px;
  max-width: 500px;
}

@keyframes post-card-animation {
  from {
    margin-left: 300%;
  }
  to {
    opacity: 100%;
  }
}
